.dialog {
  width: 100%;
  max-width: 700px;
  background: #1d1e20 !important;
  .text_field {
    .MuiOutlinedInput-notchedOutline {
      border-color: rgb(209, 207, 207) !important;
    }
    .MuiFormLabel-root {
      color: white;
    }
    .MuiInputBase-input {
      color: white;
    }
    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
  }
  .form_container {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .button_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
